name: Build

# either manually started, or on a schedule
on: [ push, workflow_dispatch ]
jobs:
  build:
    # ubuntu
    runs-on: ubuntu-22.04
    steps:
      - name: Remove unneeded frameworks to recover disk space
        run: |
          echo "-- Before --"
          df -h
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          echo "-- After --"
          df -h

      - uses: actions/checkout@v4

      - name: install dependencies
        run: sudo ./.github/setup-apt.sh

      - name: build toolchain
        run: |
          ./configure --prefix=/opt/riscv --with-arch=rv32ec --with-abi=ilp32e
          sudo make -j $(nproc)

      - name: recover space
        run: |
          sudo du -hs / 2> /dev/null || true
          sudo rm -rf binutils dejagnu gcc gdb glibc llvm musl newlib pk qemu spike uclibc-ng || true
          sudo du -hs / 2> /dev/null || true

      - name: tarball build
        run: tar czvf riscv32ec.tar.gz -C /opt/ riscv/

      - uses: actions/upload-artifact@v4
        with:
          name: RiscV32EC
          path: riscv32ec.tar.gz

